body {
  font-size: 1.5rem;
}

#form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
form {
  width: 50%;
  height: 50%;
}
#emailHelp {
  font-size: 0.9rem;
}
.form-group {
  margin-top: 16px;
}
button {
  margin-top: 16px;
}
